.node-row {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border-bottom: 1px solid var(--border-color);
    transition: border-color 0.3s;

    .node-value.sum {
        font-weight: bold;
    }

    &.skipped {
        text-decoration: line-through;
        color: gray;
    }
}

.node-name {
    cursor: pointer;
}

.toggle {
    margin-right: 12px;
    display: inline-block;
    width: 10px;
}

.toggle-icon {
    width: 14px;
    height: 14px;
}