.theme-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  z-index: 1000;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.theme-icon {
  width: 20px;
  height: 20px;
  display: block;
} 